---
import { Image } from 'astro:assets'
import logo from '../assets/logo.svg'
---

<div class="flex flex-col justify-center items-center h-dvh">
  <Image
    src={logo}
    alt="José María López"
    draggable="false"
    style="pointer-events: none; user-select: none;"
  />
</div>
