---
import '../styles/global.css'
---

<!doctype html>
<html lang="en" class="m-0 w-full h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="description"
      content="Personal website of José María López, a software engineer and entrepreneur."
    />
    <title>José María López</title>
  </head>
  <body class="m-0 w-full h-full bg-gray-800">
    <slot />
  </body>
</html>
